<h1>Cocktails</h1>

<!-- linking to create a new cocktail page -->

<%= link_to "Add a new cocktail!", new_cocktail_path %>

<br>
<br>

<!-- showing cocktails in cards -->

<div class="card" style="width: 18rem;">
  <% @cocktails.each do |cocktail| %>
    <img src="https://images.unsplash.com/photo-1444728399417-08d2aa39e6f4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><%= cocktail.name %></h5>
      <!-- <p class="card-text">Lovely drink</p> -->
      <%= link_to 'view cocktail', cocktail_path(cocktail) %>
    </div>
    <% end  %>
</div>
